.postcreator {
	display: flex;
	align-items: center;

	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 5px;

	width: 640px;
	overflow: hidden;
	margin: 15px;
}

.textarea {
	display: block;
	overflow: hidden;
	
	border: 1px solid #cccccc;
	border-radius: 5px;

	min-width: 500px;
	min-height: 20px;

	margin: 0 10px;
	padding: 10px;
}

.textarea:hover {
	border: 1px solid #898989;
}

.postbutton {
	background-color: #2d62d7;
	color: white;
	border: 0px;
	border-radius: 20px;
	height: 40px;
	padding: 5px 30px;
}

.postbutton:hover {
	opacity: 0.9;
}