.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 640px;
	margin: 15px;
	padding: 0 20px;
	background-color: #ffffff;
	color: black;
	border: 1px solid #cccccc;
	border-radius: 5px;
	overflow: hidden;
}

.user:hover {
	border: 1px solid #898989;
}

.userbody {
	width: 550px;
	color: black;
	text-decoration: none;
}